* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profile {
    background-color: #D9D0DE;
}

.about-container {
    background-color: #D9D0DE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 5px;
    border: 5px solid silver;
}

.about-you-and-photo {
    background-color: #D9D0DE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 3px solid gold;
}

.profile-page {
    background-color: #D9D0DE;
}