* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.users {
    background-color: #D9D0DE;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 5px
}

.about-container {
    background-color: #D9D0DE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 5px;
    border: 5px solid silver;
}

.add-activity-button {
    background-color: #D9D0DE;

}

.profile-page {
    background-color: #D9D0DE;
}
.activities-and-users-container
{
    background-color: #D9D0DE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.users{
    display: flex;
    flex-direction: column;
}

.logout-button {
    background-color: #D9D0DE;
}