.activities {
        display: flex;
        flex-wrap: wrap; /* Zorgt ervoor dat tegels op een nieuwe rij springen */
        flex-basis: 70%; /* 70% breedte voor de artikelen */
        gap: 10px; /* Ruimte tussen de tegels */
        box-sizing: border-box;

    background-color: #D9D0DE;

}

.activities> * {
    flex-basis: calc(33.33% - 20px);
    flex-grow: 1;
    max-width: calc(33.33% - 20px);
}

h3.activities-page, p {
    background-color: #D9D0DE;
}
.listOfUsers {
    flex-basis: 30%;
    background-color: #D9D0DE;
    padding: 10px;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    box-sizing: border-box; /* Inclusief padding en borders in de totale breedte */
}
