* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-list > li {
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
}

.dropdown-title {
    color: white;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 5px;
    list-style: none;
    background-color: #D9D0DE;
    padding: 10px 0;
    margin: 0;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu li a {
    color: black;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
   padding: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

h4 {
    color: white;
}
.unique-logo {
    max-width: 80px;
    max-height: 30px;
}
@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        height: auto;
    }
}
