* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #D9D0DE;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

h4 {
    color: white;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        height: auto;
    }
}
