.activity-container {

    background-color: #D9D0DE;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h3.name-activity{
    background-color: #D9D0DE;
}
.informationActivity{
padding: 100px;
    gap: 15px;
}

.activity-photo{

}
.description, .location, .costs {
    border: 1px solid black;
    background-color: #AF7595;
    gap: 10px;
}

.description-filled, .location-filled, .costs-filled {
    border: 1px solid black;
    gap: 10px;
    padding: 15px;
    margin: 0 0 15px 0;
}
