*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
h1 {
   font-size: 100px;
}
/*img {*/
/*   display: flex;*/
/*   align-items: center;*/
/*   justify-content: center;*/
/*   text-align: center;*/
/*   width: 80vw;*/
/*   height: 40vw;*/
/*   object-fit: cover;*/
/*   */
/*}*/

.homepage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
background-color: #D9D0DE;
   color: black;
   padding: 0 0 20px 0;

}