*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
h1 {
   font-size: 100px;
}
img {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 94vw;
   height: 40vw;
   object-fit: cover;

}
